<ng-container *ngIf="!isLineChartLoading; else loader">
  <p class="b-form">
    <tui-input-date-range [maxLength]="maxLength" [(ngModel)]="range">
      Range
    </tui-input-date-range>
  </p>
  <ng-container *ngIf="!!range">
    <tui-axes
    *ngIf="computeLabels$(range) | async as labels"
    class="axes"
    [verticalLines]="labels.length"
    [horizontalLines]="4"
    [axisXLabels]="labels"
    axisYSecondaryName="New Cases"
  >
    <tui-line-days-chart
      class="chart"
      [smoothingFactor]="1"
      [height]="200"
      [value]="casesValue"
      [yStringify]="yStringify"
      [xStringify]="xStringify$ | async"
    ></tui-line-days-chart>
  </tui-axes>

  <tui-axes
    *ngIf="computeLabels$(range) | async as labels"
    class="axes"
    [verticalLines]="labels.length"
    [horizontalLines]="4"
    [axisXLabels]="labels"
    axisYSecondaryName="New Deaths"
  >
    <tui-line-days-chart
      class="chart"
      [smoothingFactor]="1"
      [height]="200"
      [value]="deathsValue"
      [yStringify]="yStringify"
      [xStringify]="xStringify$ | async"
    ></tui-line-days-chart>
  </tui-axes>
  </ng-container>

</ng-container>

<ng-template #loader>
    <tui-loader [showLoader]="true"></tui-loader>
</ng-template>
