@import '~@taiga-ui/core/styles/taiga-ui-local';

.skeleton {
	margin: 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 80px);

	.skeleton-line {
		height: 25px;
	}

}

:host::ng-deep {
    tui-root {
        background-color: var(--tui-base-01);
        color: var(--tui-text-01-nightly);
    }

}