<div class="sidebar-stats-wrapper">
  <div class="sidebar-row-wrapper">
    <h3>
      {{ dateString ?? '' }}
    </h3>
    <h3>
      {{ country }}
    </h3>
  </div>
  <div class="sidebar-row-wrapper">
    <tui-pie-chart
      [value]="pieChartValues"
      [tuiHintContent]="pieChartContent"
    ></tui-pie-chart>
    <tui-ring-chart
      [value]="ringChartValues"
      [(activeItemIndex)]="ringChartIndex"
    >
      <div>
        {{
          ringChartIndex === 0 || ringChartIndex
            ? ringChartDisplayValues[ringChartIndex]
            : this.unnormalizedStats.cases
        }}
      </div>
      {{
        ringChartIndex === 0 || ringChartIndex
          ? this.ringChartLabels[ringChartIndex]
          : "Cases"
      }}
    </tui-ring-chart>
  </div>
  <div class="sidebar-row-wrapper">
    <app-line-graph style="width: 20rem;" [history]="history"></app-line-graph>
  </div>
</div>

<ng-template #pieChartContent let-index>
  <div>{{ pieChartDisplayValues[index] }}</div>
  <div>{{ pieChartLabels[index] }}</div>
</ng-template>
